@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

:root {
    --main_BG: hsl(217, 54%, 11%);
    --card: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --gap: 23px;
    --padding: 30px;
    --lightyfont: 400;
    --weightyfont: 700;
    --psize: 18px;
    --titlesize: 24px;
    --smallShadow: 12px;
    --bigShadow: 36px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: var(--lightyfont);
    color: var(--white);
    background-color: var(--main_BG);
    height: 100vh;

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        a {
            text-decoration: none;
            color: var(--white);
        }
    }
}

.card {
    width: 350px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    gap: var(--gap);
    background-color: var(--card);
    padding: var(--padding) var(--gap);
    font-size: var(--psize);
    border-radius: 1em;
    box-shadow: 0 0 var(--smallShadow) black;
    transition: 0.4s;

    &:hover {
        transform: translateY(-2%);
        box-shadow: 0 5px var(--bigShadow) black;
    }

    header {
        &.header__container {
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            max-height: 350px;

            &:hover span {
                opacity: 100%;
            }

            img {
                max-width: 100%;
                filter: blur(0px);
                cursor: pointer;
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0%;
                transition: opacity 0.4s;

                path:last-child {
                    fill: var(--cyan);
                }
            }

            &:hover img {
                filter: blur(2px);
            }

        }
    }

    .container {
        .title {
            font-size: var(--titlesize);
            font-weight: var(--weightyfont);

            &:hover {
                color: var(--cyan);
            }
        }

        p {
            color: var(--softblue);
            margin: var(--gap) 0;
        }

        .etherclock {
            display: flex;
            justify-content: space-between;

            span {
                display: flex;
                flex-flow: row;
                align-items: center;
            }

            span#left {
                color: var(--cyan)
            }

            span#right {
                color: var(--softblue)
            }
        }


    }

    hr {
        height: 1px;
        background-color: var(--line);
        border: none;
    }

    footer {
        display: flex;
        align-items: center;
        gap: 1em;

        img {
            width: 10%;
            border: white solid 1px;
            border-radius: 50%;
        }

        span {
            color: var(--softblue);

            a:hover {
                color: var(--cyan);
            }
        }
    }
}